#formDiv {
  border: thick double #008000;
  box-shadow: 30px +20px #228b22;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: 2.5vh;
}
th {
  text-align: right;
}
td {
  text-align: left;
}
th,
td {
  padding: 2.5%;
}
